/* GLOBAL */
.mm-py-30 {
  padding: 30px 0;
}

.mm-py-50 {
  padding: 50px 0;
}

.mm-py-70 {
  padding: 70px 0;
}

/*da togliere e mettere img*/
.mm-image-box {    
  background-color: blue;
  min-height: 100px;
}

/* HEADER */
header .mm-header-top {
  height: 35px;
  padding: 0 10px;
  background-color: black;
  text-align: right;
}

header .mm-header-top img {
  width: 75px;   
}

header .mm-header-bottom img {
  width: 20px;
}

/*** MAIN ***/

/** jumbotron **/
.mm-jumbotron-top,
.mm-second-jumbo {
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center; 
}

.mm-jumbotron-top {
  margin-top: 90px;
  background-image: url(../img/jumbo-bg.png);
  height: 550px;   
}

.mm-jumbotron-top .mm-jumbo-text,
.mm-second-jumbo .mm-jumbo-text {
  color: white;
}

/* playstation 5 */
.mm-play5 img {
  width: 100%;  
}

/* second jumbotron */
.mm-second-jumbo {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.mm-second-jumbo img {
  width: 55%;
  margin-bottom: 35px;
}

/* nuove uscite */
.mm-nuove-uscite {
  background-color: #1F1F1F;
}

.mm-nuove-uscite p {
  color: white;
}

.mm-game-card img {
  width: 100%;
}

/* playstation plus */
.mm-play-plus, .mm-play-now {
  min-height: 246px;  
}

.mm-play-plus {
  background-color: #BEBCBB;
}

.mm-play-plus img, .mm-play-now img {
  width: 100%;
}

img.mm-playplus-logo, img.mm-playnow-logo {
  width: 55%;
  margin-bottom: 30px;
}

/* plystation now */
.mm-play-now {
  background-color: #161C3B;
  color: white;
}

/*** FOOTER ***/
footer {
  color: white;
  background-color: #00439C;  
}

.mm-footer-top ul {
  list-style: none;
  font-size: 14px;
}

.mm-footer-top .mm-country {
  margin-top: 40px;
  margin-bottom: 50px;
}

#globe {
  width: 10px;
}

.mm-footer-bottom img {
 width: 120px;
}