/* GLOBAL */
.mm-py-30 {
  padding: 30px 0;
}

.mm-py-50 {
  padding: 50px 0;
}

.mm-py-70 {
  padding: 70px 0;
}

.mm-section-title {
  margin-bottom: 60px;
}

.mm-text-blue {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #0072CE;
}

.mm-text-grey {
  font-size: 20px;    
  color: gray;
}

h2 {
  font-size: 40px;
  margin-bottom: 35px;
}

h3 {
  font-size: 35px;
  margin-bottom: 30px;
}

/* buttons */
.mm-custom-btn {
  padding: 10px 14px;
  border-radius: 30px;
  font-weight: bold; 
  transition: all 0.3s;
}

.mm-custom-btn.mm-btn-dark {  
  background-color: #363636;
  margin: 0 15px;  
}

.mm-custom-btn.mm-btn-dark:hover {
  background-color: #5C636A; 
  box-shadow: 0 0 0 2px #5C636A, inset 0 0 0 2px white;   
}

.mm-custom-btn.mm-btn-red {  
  background-color: #CD3D0F; 
}

.mm-custom-btn.mm-btn-red:hover {
  box-shadow: 0 0 0 2px #CD3D0E, inset 0 0 0 2px black;  
}

.mm-custom-btn.mm-btn-blue:hover {
  background-color: #2D64E6;
  box-shadow: 0 0 0 2px #2D64E6, inset 0 0 0 2px white;  
}

.mm-custom-btn.mm-btn-light {
  color: #356AE6;
  background:rgba(255,255,255, 0.4);
  border: none;
  font-weight: 600;
}

.mm-custom-btn.mm-btn-light:hover {
  color: #356AE6;
  background:rgba(255,255,255, 0.5);  
  box-shadow: 0 0 0 3px #C6C5C5;  
}

.mm-custom-btn.mm-btn-white {
  font-weight: 600;  
}

.mm-custom-btn.mm-btn-white:hover {
  box-shadow: 0 0 0 2px white, inset 0 0 0 2px #161C3B;    
}

/*da togliere e mettere img*/
.mm-image-box {    
  background-color: blue;
  min-height: 100px;
}

/* HEADER */
header .mm-header-top {
  height: 35px;
  padding: 0 10px;
  background-color: black;
  text-align: right;
}

header .mm-header-top img {
  width: 75px;   
}

.mm-header-bottom a {
  color: black !important;
}
.mm-header-bottom .mm-chevron {
  width: 10px;
}

.mm-header-bottom .mm-chevron-blue {
  display: none;
}

.nav-link:hover .mm-chevron {
  display: none;
}

.nav-link:hover .mm-chevron-blue {
  display: inline-block;
  width: 10px;
}

.nav-link:active .mm-chevron-blue {
  transform: rotate(180deg);  
}

#lens {
  width: 20px;
}

/*** MAIN ***/

/** jumbotron **/
.mm-jumbotron-top,
.mm-second-jumbo {
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center; 
}

.mm-jumbotron-top {
  margin-top: 90px;
  background-image: url(../img/jumbo-bg.png);
  height: 550px;   
}

.mm-jumbotron-top .mm-jumbo-text,
.mm-second-jumbo .mm-jumbo-text {
  color: white;
}

.mm-jumbotron-bottom img {
  width: 100%;
  padding: 4px;
  border-radius: 20px;
}

.mm-jumbotron-bottom .mm-active img {
  box-shadow: 0 0 0 2px #2D64E6;  
}

/* playstation 5 */
.mm-play5 img,
.mm-play4 img {
  width: 100%;  
}

.mm-play5 .mm-products {
  padding: 0 40px;
  text-align: center;
  opacity: 0.7;
}

.mm-play5 .mm-products.mm-active {
  opacity: 1;
  border-bottom: 2px solid #0072CE;
}

.mm-play5 .mm-products:hover {
  opacity: 1;
}

/* second jumbotron */
.mm-second-jumbo {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.mm-second-jumbo img {
  width: 55%;
  margin-bottom: 35px;
}

/* nuove uscite */
.mm-nuove-uscite {
  background-color: #1F1F1F;
}

.mm-nuove-uscite h4 {
  font-size: 27px;
  color: white;
}


.mm-nuove-uscite p {
  color: white;
}

.mm-game-card img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 20px;
}

/* playstation plus */
.mm-play-plus {
  min-height: 246px; 
  background-color: #BEBCBB;
}

.mm-play-plus img,
.mm-play-now img {
  width: 100%;
}

img.mm-playplus-logo,
img.mm-playnow-logo {
  width: 55%;
  margin-bottom: 30px;
}

.mm-play-plus p,
.mm-play-now p {
  margin-bottom: 30px;
}

/* plystation now */
.mm-play-now {
  min-height: 246px; 
  background-color: #161C3B;
  color: white;
}

/*** FOOTER ***/
footer {
  color: white;
  background-color: #00439C;  
}

.mm-footer-top ul {
  list-style: none;
  font-size: 14px;
}

.mm-footer-top .mm-country {
  margin-top: 40px;
  margin-bottom: 50px;
}

#globe {
  width: 10px;
}

.mm-footer-bottom img {
 width: 120px;
}